/* src/BackToTopButton.css */
.back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* 20px from the bottom */
    right: 30px; /* 30px from the right */
    z-index: 99; /* Ensure it is above other elements */
    border: none; /* No border */
    outline: none; /* No outline */
    background-color: tomato; /* Black background */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    transition: all 0.5s;
    transition: opacity 0.3s ease-in-out;
  }
  
  .back-to-top.show {
    display: block; /* Show when the button should be visible */
  }
  
  .back-to-top:hover {
    background-color: #555; /* Dark grey background on hover */
  }
  