.scroll-main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}
.scroll-main .scroll{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 20px 0px;
    overflow-x: scroll;
}

.bottom-text{
    padding-top: 40px;
    font-size: 60px;
    text-align: center;
}